<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <main>
        <h1>MUNU MY FRIEND:</h1>
        <div>
            <li><a href="">Adicionar produto</a></li>
            <li><a href=""></a>Adicionar varios produtos</li>
            <li><a href=""></a>Modificar quantidade</li>
            <li><a href=""></a>Deletar produto por ID</li>
            <li><a href=""></a>Consultar carrinho</li>
            <li><a href=""></a>Consultar item por ID</li>
            <li><a href=""></a>Limpar carrinho</li>
        </div>
      
    </main>
</body>
</html>